.btn-ops {
    margin-bottom: 20px;
    min-height: 150px;
    min-width: 150px;
}

.btnModal {
    margin-bottom: 0;
    min-height: 0;
    min-width: 0;
}

.col-md-3 .btn,
.col-md-4 .btn {
    margin-bottom: 20px;
    min-height: 0px;
    min-width: 0px;
}

.middiv img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}